* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    z-index: 9;
    background-color: #334585;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.list {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
}

.button-demo {
    margin-left: 15px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #334585;
    font-size: 18px;
    border: 2px solid #ffffff;
    padding: 7px 30px;
    cursor: pointer;
}

.button-demo:hover {
    color: #2d63c8;
    background-color: #fff;
    transition: 200ms;
}

.logo {
    color: white;
    display: flex;
    color: white;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo p {
    margin: 0;
}

.search {
    width: 60%;
    height: 60%;
    margin-top: 2px;
    margin-left: 10px;
}

.list #list-btn {
    display: inline-block;
    background-color: #334585;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
}

.list #list-btn:hover {
    opacity: 0.8;
}

.up-container {
    width: 100%;
    height: 700px;
    display: flex;
    gap: 50px;
    background-color: #6284ff;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.head {
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.start {
    width: 35%;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mid-container {
    width: 100%;
    height: 600px;
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
}

.mid-head {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 44px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.hr1 {
    width: 10%;
    height: 3px;
    margin: 10px auto;
    background: rgb(113,128,187);
    background: linear-gradient(90deg, rgba(113,128,187,1) 81%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 87%, rgba(113,128,187,1) 87%);
}

.box1,
.box2,
.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 25px;
    width: 400px;
    height: 500px;
    color: gray;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head1 {
    color: black;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper .dynamic-txts {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dynamic-txts li {
    list-style: none;
    color: white;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 16s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 120%;
    width: 100%;
    background: #6284FF;
    border-left: 4px solid #fff;
    animation: typing 4s steps(15) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

.bottom-container {
    width: 100%;
    height: 500px;
    display: flex;
    gap: 100px;
    background-color: #fff;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.bottom {
    width: 700px;
}

.head2 {
    font-size: 44px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.hr2 {
    width: 70%;
    height: 3px;
    margin: 10px 0;
    background: rgb(113,128,187);
    background: linear-gradient(90deg, rgba(113,128,187,1) 81%, rgba(255,255,255,1) 81%, rgba(255,255,255,1) 87%, rgba(113,128,187,1) 87%);
}

.dodo {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Box {
    height: 288px;
    position: relative;
}

.hover-box {
    background-color: #2a2a2a;
    height: 288px;
    width: 370px;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 2;
}

.Box:hover .hover-box{
    visibility: visible;
    opacity: 0.91;
}

.hover-line1 {
    width: 120px;
    height: 1px;
    background-color: gainsboro;
    position: absolute;
    top: 20px;
    left: 125px;
    visibility: hidden;
    z-index: 3;
}

.hover-line2 {
    width: 120px;
    height: 1px;
    background-color: gainsboro;
    position: absolute;
    bottom: 20px;
    left: 125px;
    visibility: hidden;
    z-index: 3;
}

.hover-text {
    color: white;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 135px;
    left: 80px;
    z-index: 3;
    visibility: hidden;
}

.Box:hover .hover-line1 {
    visibility: visible;
    animation: line1-hover 400ms ease forwards;
}

.Box:hover .hover-line2 {
    visibility: visible;
    animation: line2-hover 400ms ease forwards;
}

.Box:hover .hover-text {
    visibility: visible;
}

@keyframes line1-hover {
    100% {
        top: 80px;
    }
}

@keyframes line2-hover {
    100% {
        bottom: 80px;
    }
}

.load-btn {
    margin-top: 20px;
    color: #334585;
    background-color: #ffffff;
    font-size: 18px;
    border: 3px solid #334585;
    padding: 10px 40px;
    cursor: pointer
}

.load-btn:hover {
    color: white;
    background-color: #334585;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #334585;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.mid2-container {
    width: 80%;
    height: 600px;
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.mid3-container {
    width: 80%;
    height: 600px;
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.Pricing {
    width: 370px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.pricing-color1 {
    background: linear-gradient(180deg, rgba(250,188,5,1) 33%, rgba(250,188,5,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 92%);
}
.pricing-color2 {    
    background: linear-gradient(180deg, rgba(99,132,255,1) 33%, rgba(99,132,255,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 92%);
}
.pricing-color3 {
    background: linear-gradient(180deg, rgba(57,169,111,1) 33%, rgba(57,169,111,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 92%);
}

.Cercle-Design1 {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 140px;
    right: 200px;
}

.Cercle-Design2 {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 100px;
    right: -25px;
}

.mid3-head {
    padding-top: 50px;
    color: white;
    font-family: Montserrat;
}

.price-circle {
    width: 140px;
    height: 140px;
    margin-top: 40px;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: 50%;
    border: 10px solid #bab8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.circle-hover1:hover {
    background-color: rgba(250,188,5,1);
    color: white;
    transition: 200ms;
}

.circle-hover2:hover {
    background-color: rgba(99,132,255,1);
    color: white;
    transition: 200ms;
}

.circle-hover3:hover {
    background-color: rgba(57,169,111,1);
    color: white;
    transition: 200ms;
}

.price-circle p {
    font-size: 20px;
}

.benefit-list {
    padding-top: 50px;
    z-index: 3;
}

.benefit-list li{
    list-style-type: square;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-btn1 {
    padding: 10px 40px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border: 1px solid rgba(250,188,5,1);
}

.signup-btn1:hover {
    background-color: rgba(250,188,5,1);
    color: white;
    transition: 200ms;
}

.signup-btn2 {
    padding: 10px 40px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border: 1px solid rgba(99,132,255,1);
}

.signup-btn2:hover {
    background-color: rgba(99,132,255,1);
    color: white;
    transition: 200ms;
}

.signup-btn3 {
    padding: 10px 40px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border: 1px solid rgba(57,169,111,1);
}

.signup-btn3:hover {
    background-color: rgba(57,169,111,1);
    color: white;
    transition: 200ms;
}

.mid4-container {
    width: 80%;
    height: 600px;
    margin-top: 0px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.Team-Box {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Team-Box:hover {
    box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.2);
    transition: 200ms;
}

.team-text {
    color: black;
    padding-top: 50px;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Team-Box:hover .team-text {
    color: rgba(99,132,255,1);
    transition: 350ms;
}

.team-text1 {
    color: black;
    padding-top: 20px;
    font-weight: 300;
    font-family: Montserrat;
}

#myBtn:hover {
    background-color: #555;
}

.up-btn {
    width: 40px;
    height: 40px;
}